/* Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Open Sans Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* text-align: center; */
}

html {
    scroll-behavior: smooth;
}

/* globle styling */
:root {
    --black: black;
    --maroon: maroon;
    --light-maroon: #AE0000;
    --Tangerine: #f38b00;
    --light-color: #666;
    --box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0.1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
    --padding: 40px 80px;
    --margin: 40px 0;
    --Extra-Margin: 200px 0;

}

/* For Button */
.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}



/*
h1{
    font-size: 50px;
    line-height: 64px;
}
h2{
    font-size: 46px;
    line-height: 64px;
}
h4{
    font-size: 20px;
} */
/* h6{
    font-weight: 700;
    font-size: 12px;
} */
/* p{
    font-size: 16px;
    margin: 15px 0 20px 0;
} */


/* Click To Top */
.Arrow-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;

}

.Arrow-btn a {
    height: 40px;
    width: 40px;
    text-align: center;
    background: var(--light-maroon);
    display: block;
    border-radius: 3px;
    cursor: pointer;
}

.Arrow-btn a span {
    color: #fff;
    line-height: 40px;
    font-size: 30px;
}


/* NavBar */

header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 20px 0;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h2 {
    font-size: 30px;
}

header a {
    color: black;
}


#nav a {
    color: black;
    padding-right: 45px;
    font-weight: 600;
    font-size: 22px;
    transition: 0.3s ease;

}

#nav a:hover,
header div .fa-solid:hover,
#nav a.active,
.User-login-register a.active,
#User-slider a.active {
    color: var(--maroon);
}

header div i {
    margin: 0 15px;
    cursor: pointer;
}

.mobile {
    display: none;
}

#close {
    display: none;
}

.fa-solid,
.mobile {
    font-size: 30px;
}

header div a {
    text-decoration: none;
    color: black;
}

header div a span {
    padding: 0px 4px;
    /* height: 2px; */
    border-radius: 5px;
    background-color: var(--light-maroon);
    color: #fff;
    font-size: 20px;
    /* width: 5px; */
    font-weight: 500;
    position: relative;
    right: 10px;
}

/* For New Search Bar */

#Search-Bar {
    display: flex;
    height: 35px;
    z-index: 1000;
    /* border: 2px solid black; */
}

#Search-Bar input {
    width: 100%;
    padding: 0 10px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: #fff;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 2px;
    /* color: aliceblue; */
    /* border: 2px solid transparent; */
}

/* For Testimonials */
#User-slider {
    position: fixed;
    top: 0;
    right: -555px;
    height: 100vh;
    width: 555px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

#User-slider .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 85px 0 0px 45px;
}

#User-slider .container h1 {
    margin-top: 10px;
    margin-bottom: 25px;

}

#User-slider .container h1 span,
#User-slider .container p span {
    color: var(--light-maroon);
    text-transform: uppercase;
    font-weight: 600;
}

#User-slider.User-Active {
    right: 0px;
}

#User-slider .container p {
    margin-bottom: 25px;
    font-size: 20px;
    color: #000000;
    /* cursor: pointer; */
}

#User-slider .othr-stuf {
    /* margin: 10px 0 10px 0; */
    margin-top: 10px;
    font-size: 20px;
    color: #000000;
}

#User-slider .othr-stuf p a {
    cursor: pointer;
    font-size: 25px;
    /* text-transform:uppercase; */
    color: var(--light-maroon);
    font-weight: 500;
}

#User-slider .othr-stuf a {
    cursor: pointer;
}

#User-slider .container a:hover {
    color: var(--light-maroon);
}

#User-slider button {
    margin-bottom: 25px;
    color: #fff;
    background-color: var(--light-maroon);

}

#User-Close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 25px;
    /* padding: 80px 0 0 10px; */
}



/* Banner Section */
.banner {
    border: 1px solid;
    display: flex;
    justify-content: center;
}

/* hero section */
#hero {
    background-image: url('../image/hero_1.png');
    height: 90vh;
    width: 100%;
    /* background-repeat: no-repeat; */
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h1 {
    padding-bottom: 5px;
    color: var(--maroon);
    font-size: 45px;
}

#hero h1 span {
    font-size: 35px;
}

#hero button {
    background-image: url("../image/img/button.png");
    background-color: transparent;
    border: 0;
    margin: 15px -10px;
    padding: 7px 50px 10px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;

}

#hero button a {

    color: var(--maroon);
}

#hero p {
    width: 44%;
    font-weight: 500;
    font-size: 23px;

}

/* Features Section */

.section-p1 {
    /* default padding  */
    padding: var(--padding);
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}



#feature .fe-box {
    width: 190px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0 0 0 / 5%);
    border: 1px solid #ccc7d0;
    border-radius: 4px;
    margin: 15px 0;
    font-size: 30px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 60px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #F0FFFF;
    background-color: #FF7F50;
    font-family: 'Open Sans', sans-serif;

}

#feature .fe-box:nth-child(2) h6 {
    background-color: #20B2AA;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #E9967A;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #CD853F;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #BDB76B;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #F08080;
}


/* Product section */
#product-sec {
    text-align: center;
    /* z-index: 1000; */
}

#product-sec .Search-Product {
    margin: var(--Extra-Margin);
}

/* #product-sec .pro-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
    align-content: space-between;
} */

#product-sec .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    /* margin: 0 23px; */
    padding: 0 60px;
    flex-wrap: wrap;
    /* align-content: space-between; */
}

#product-sec h1 {
    font-size: 50px;
}

.pro-container .cart1 {
    font-size: 25px;
    font-weight: 600;
    padding: 13px 30px;
    color: var(--maroon);
    /* background-color: transparent;
    border-bottom: 2px solid black;
    border-radius: 4px; */
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: underline;
    /* transition: all 0.2s ease; */

}

#product-sec p {
    font-size: 18px;
    font-weight: 500;
    /* color: var(--Tangerine); */
}

#product-sec h1 span {
    color: var(--maroon);
    /* font-size: 55px; */
}

#product-sec .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    padding-bottom: 45px;
    border: 1px solid #ccc7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 30px 30px 35px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product-sec .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product-sec .pro img {
    width: 100%;
    border-radius: 20px;
}

#product-sec .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product-sec .pro .des span {
    color: #606063;
    font-size: 15px;
}

#product-sec .pro .des .PName a {
    padding-top: 5px;
    color: #1a1a1a;
    font-size: 25px;
}

#product-sec .pro .des h5 {
    font-size: 25px;
}

#product-sec .pro .des .PName a:hover {

    color: var(--light-maroon);

}


#product-sec .pro .des i {
    font-size: 14px;
    color: var(--maroon);
    /* color: #F1C40F; */
}

#product-sec .pro .des h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
}



#product-sec .pro .cart {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--light-maroon);
    color: #F5FFFA;
    border: 1px solid #ccc7d0;
    position: absolute;
    bottom: 8px;
    left: 15px;
    cursor: pointer;
    padding: 10px 10px;
    letter-spacing: 2px;
    width: 220px;
    word-spacing: 3px;
    letter-spacing: 2px;
}

#product-sec .pro .cart:hover {
    /* width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px; */
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--Tangerine);
    transition: 0.2s ease-in-out;
    font-weight: 500;

}

/* New Cart
.Cart-Btn {
    background-color: var(--light-maroon);
    color: #fff;
    letter-spacing: 2px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 12px;
} */
/* Banner Section */
.section-m1 {
    margin: var(--margin);
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../image/CRAFTHOLIC.jpg);
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50px;
}

#banner h2 {
    color: white;
    font-size: 30px;
    /* padding: 5px 0; */
    position: relative;
    top: 50px
}

#banner h2 span,
#banner h4 span {
    color: #f38b00;
    font-size: 35px;
}

.countdown-container {
    display: flex;
    padding-top: 0px;
}

.countdown-container p,
.countdown-container span {
    position: relative;
    top: 50px
}

.countdown-container>div {
    margin: 0 1.3rem;
    text-align: center;

    padding: 0 5px;
    box-sizing: border-box;
    color: white;
    /* min-width: 10px; */

}

@media(max-width:992px) {}

@media(max-width:992px) {
    .countdown-container {
        flex-wrap: wrap;
    }

    .countdown-container>div {
        margin: 1rem auto;
        max-width: 150px;
    }
}

.big-text {
    font-size: 4rem;
}

/* UPCOMMING FEATURED DEBUT */

#product-sec .product-deb1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    /* right: 45px; */
    bottom: 18px;
    /* color: var(--maroon); */
}

#product-sec .product-deb2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    /* right: 26px; */
    bottom: 18px;
}

#product-sec .product-deb3 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    /* right: 26px; */
    bottom: 18px;
}

#product-sec h2 span {

    color: var(--maroon);
}

/* <!-- Testimonial --> */
.section-p1-edited {
    padding-top: 40px;
}

.container {

    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    /* z-index: 1000; */
    /* background-color: var(--black); */
}

.testimonial {
    position: relative;
    max-width: 900px;
    /* height: 80vh; */
    width: 60%;
    /* background: maroon; */
    padding: 50px 0;
    /* background-color:white; */
    row-gap: 20px;
    overflow: hidden;

}

.testimonial img {
    height: 25%;
    width: 25%;
    object-fit: cover;
    border-radius: 20px;
    float: left;

}

.testimonial .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* color: white;     */
    row-gap: 12px;

}

.slider .star {
    padding: 0px 0px;
    color: var(--maroon);
}

.slider p {
    padding: 0 100px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
}

.slider .quote-icon {
    font-size: 30px;
    color: var(--maroon);

}

.slider .details {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.details .name {
    font-size: 20px;
    font-weight: 600;

}

.details .city {
    font-size: 15px;
    font-weight: 400;
    color: var(--maroon);

}

/* swiper btn */
.nav-btn {
    height: 40px;
    width: 40px;
    /* color: var(--maroon); */
    /* background-color: rgb(0, 0, 0 ,0.1); */
    /* border: 50%; */
    transform: translateY(30px);
    transition: 2s;


}

.nav-btn::after,
.nav-btn::before {
    font-size: 30px;
    color: var(--maroon);

}

/* .swiper-pagination-bullet{
    background-color: rgb(0, 0, 0 ,0.1);

}
.swiper-pagination-bullet-active {
    background-color: var(--maroon);
} */

/* @media screen and (max-width: 768px) {

    .container,
    .section-p1-edited {
        display: none;
    }
} */

/* Newsletter */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../image/b14.png);
    opacity: 0px;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: var(--maroon);

}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

#newsletter p span {
    color: var(--Tangerine);
    font-size: 18px;
}

#newsletter .form {
    display: flex;
    width: 40%;

}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 18px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#newsletter button {
    background-color: var(--Tangerine);
    color: #fff;
    white-space: nowrap;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#newsletter button:hover,
#User-slider button:hover {
    background-color: #fff;
    color: var(--Tangerine);
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    font-weight: 590;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 15px;
    font-weight: 590;
    margin: 0 0 8px 0;
    color: #222;
    margin-bottom: 10px;
    cursor: pointer;
}

/* footer a i{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
} */

footer .follow {
    margin-top: 20px;
}

footer .follow .icon {
    padding-right: 4px;
    cursor: pointer;
    word-spacing: 15px;
    font-size: 20px;
}

footer .follow i:hover,
footer a:hover {
    color: var(--maroon);

}

footer .install .row img {
    border: 1px solid var(--maroon);
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

footer .copyright p {
    font-size: 20px;
    font-weight: 500;
}


/* Home Decor Page  */
#page-header {
    background-image: url(../image/img/banner/b1.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h1,
#page-header p {
    color: white;
}

#page-header h1 {
    /* padding-bottom: 6px; */
    font-size: 50px;
}

#page-header p {
    /* padding-bottom: 6px; */
    font-size: 30px;
}

#page-header p span {
    /* padding-bottom: 6px; */
    font-size: 35px;
    color: var(--Tangerine);
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    background-color: var(--maroon);
}

#pagination a:hover {
    background-color: var(--Tangerine);
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Single Products */
#prodetails {
    display: flex;
    margin-top: 20px;


}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;

}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    /* padding-top: 30px; */
}

#prodetails .single-pro-details h6 {
    font-weight: 700;
    font-size: 15px;
}

#prodetails .single-pro-details h4 {
    padding: 10px 0 20px 0;
    font-size: 25px;
}

#prodetails .single-pro-details h2 {
    font-size: 20px;
    padding-bottom: 18px;
}

#prodetails .single-pro-details .cart-single-product {
    color: #fff;
    background-color: var(--light-maroon);
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#prodetails .single-pro-details .cart-single-product:hover {
    background-color: var(--Tangerine);
}

#prodetails .single-pro-details input:focus {
    outline: none;
    /* font-size: 18px; */

}

#prodetails .single-pro-details button {
    background-color: var(--maroon);
    color: #fff;
    height: 48px;
}

#prodetails .single-pro-details button a {
    color: #fff;

}

#prodetails .single-pro-details button:hover {
    background-color: var(--Tangerine);
    /* color: var(--maroon); */
}

#prodetails .single-pro-details span {
    line-height: 25px;
    font-size: 20px;
    margin: 15px 0 20px 0;
}


/* Contect Us  */

#page-header.blog-header {
    background-image: url(../image/img/about/banner.png);
    z-index: 9;
}

#page-header p .cont-us_span-size-p {
    color: var(--Tangerine);
    font-size: 35px;
}

#page-header h1 .cont-us_span-size-h1,
#page-header h1 span {
    color: var(--Tangerine);
    font-size: 35px;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 50%;
}

#contact-details .details span,
#Form-details form span {
    font-size: 18px;
}

#contact-details .details h2,
#Form-details form h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 20px;
    padding-bottom: 15px;

}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 15px;
    padding: 5px 0;
    padding-right: 22px;
    color: var(--maroon);
    font-weight: 600;
}

#contact-details .details li p {
    margin: 0;
    font-size: 16px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#Form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#Form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Form-details form textarea,
#Form-details .Address-return,
#Form-details form input,
#Form-details form select {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    font-size: 20px;
}

#Form-details form button {
    color: #fff;
    background-color: var(--maroon);
}

#Form-details form button:hover {
    background-color: var(--Tangerine);
}


#Form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#Form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}



#Form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#Form-details .people div span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/* Shoping Cart */

#cart {
    overflow-x: auto;
}


#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    /* display: flex; */
    /* display: none; */
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}


#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}


#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(6) {
    font-weight: 600;
    /* color: var(--light-maroon); */
}

#cart table td:nth-child(5) input,
#cart table td:nth-child(5).Quantity_Input {
    width: 75px;
    padding: 10px 5px 10px 5px;
    margin-right: 5px;
}

#cart table td:nth-child(5) .Quantity_Input:focus {
    outline: none;
    border: 2px solid var(--maroon);
    /* border-color: var(--maroon); */
}

#cart .update {

    /* padding: 10px 5px 10px 15px; */
    color: #fff;
    background: var(--Tangerine);
    border: none;
    outline: none;
    /* width: 80px; */
    font-size: 15px;
    font-weight: 600;
    /* padding: 13px 30px; */
    /* color: #000; */
    border-radius: 4px;
    cursor: pointer;
    /* border: none;
    outline: none; */
    transition: all 0.2s ease;
    /* position: absolute; */
    /* right: 2px; */
    /* top: 0; */
}

#cart .update:focus,
#cart .update:hover {
    background: var(--light-maroon);

}


#cart table thead {
    border: 1px solid #e1e1e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 16px;
    font-weight: 500;
}

#cart table tbody td i {
    color: var(--maroon);
    font-size: 18px;
    cursor: pointer;

}

#Cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#Sub-total h3 {
    padding-bottom: 15px;
    font-size: 22px;
}

#coupon h3 span {
    color: var(--maroon);

}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
    font-size: 15px;
    border-radius: 4px;
}

#coupon button {
    padding: 12px 24px;
    color: #fff;
    border-radius: 4px;
    background-color: var(--maroon);
}

#Sub-total a {
    padding: 12px 24px;
    color: #fff;
    background-color: var(--maroon);
    border-radius: 4px;
}

#Sub-total a.disabled {
    background-color: var(--light-maroon);
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}


#coupon button:hover,
#Sub-total button:hover {
    background-color: var(--Tangerine);
}

#Sub-total {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e1e9e1;
    padding: 30px;
}

#Sub-total table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#Sub-total table td {
    width: 50%;
    border: 1px solid #e1e9e1;
    padding: 10px;
    font-size: 15px;
}

/* Payment-Gatway-Address */

#Payment-Gatway-Address {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
    background: linear-gradient(90deg, #AE0000 60%, var(--Tangerine) 40.1%);
    /* padding-bottom: 70px; */
    z-index: -1000;
}

.display-Order {
    max-width: 40rem;
    background-color: var(--light-maroon);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: var(--box-shadow);

}

.display-Order span {
    display: inline-block;
    border-radius: 2px;
    /* background-color: #fff; */
    /* background-color:#E8E8E8 ; */
    /* opacity: 0.4; */
    padding: 5px 5px;
    font-size: 20px;
    color: #fff;
    margin: 5px;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
}

.display-Order .Grand-Total {
    background-color: var(--light-maroon);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #fff;
}

#Payment-Gatway-Address form {
    padding: 20px;
    width: 820px;
    background: #fff;
}

#Payment-Gatway-Address form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

#Payment-Gatway-Address form .row .col {
    flex: 1 1 250px;
}

#Payment-Gatway-Address form .row .col .title {
    font-size: 20px;
    color: #000;
    padding-bottom: 5px;
    text-transform: uppercase;
}

#Payment-Gatway-Address form .row .col .inputBOX,
#Payment-Gatway-Address form .row .col .Payment-Method {
    margin: 15px 0;
}

#Payment-Gatway-Address form .row .col .inputBOX span {
    margin-bottom: 10px;
    display: block;
}

#Payment-Gatway-Address form .row .col .inputBOX input,
#Payment-Gatway-Address form .row .col .Payment-Method select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 16px;
    text-transform: none;
    outline: none;
    border: none;

}

#Payment-Gatway-Address form .row .left .inputBOX input:focus {
    border-bottom: 2px solid var(--Tangerine);
}

#Payment-Gatway-Address form .row .right .inputBOX input:focus {
    border-bottom: 2px solid var(--maroon);
}

#Payment-Gatway-Address form .row .col .flex {
    display: flex;
    gap: 15px;
}

#Payment-Gatway-Address form .row .col .flex .inputBOX {
    margin-top: 10px;
}

#Payment-Gatway-Address form .row .col .inputBOX img {
    height: 35px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);

}

/* 
#Payment-Gatway-Address form .button1 {
    background: var(--maroon);
    color: white;
    padding: 12px;
    width: 120px;
    letter-spacing: 2px;
} */

#Payment-Gatway-Address form .button2 {
    background: var(--maroon);
    color: white;
    width: 100%;
    padding: 12px;
    letter-spacing: 2px;
}

#Payment-Gatway-Address form .button1:hover,
#Payment-Gatway-Address form .button2:hover {
    background: var(--Tangerine);
}

#Payment-Gatway-Address form .button1 a,
#Payment-Gatway-Address form .button2 a {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* Order Tracker */
.step-wizard {
    /* background-color: var(--maroon); */
    background-image: linear-gradient(120deg, var(--light-maroon) 0%, var(--maroon) 100%);
    /* background-color: ; */
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    display: none;
}

.step-wizard-list {
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item {
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.step-wizard-item+.step-wizard-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    /* background: #21d4fd; */
    background: var(--Tangerine);
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}

.progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

.progress-count:after {
    content: "";
    height: 40px;
    width: 40px;
    /* background: #21d4fd; */
    background: var(--Tangerine);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}

.progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

.progress-label {
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

.current-item .progress-count:before,
.current-item~.step-wizard-item .progress-count:before {
    display: none;
}

.current-item~.step-wizard-item .progress-count:after {
    height: 10px;
    width: 10px;
}

.current-item~.step-wizard-item .progress-label {
    opacity: 0.5;
}

.current-item .progress-count:after {
    background: #fff;
    /* border: 2px solid #21d4fd; */
    border: 2px solid var(--Tangerine);
}

.current-item .progress-count {
    /* color: #21d4fd; */
    color: var(--Tangerine);
}


/* Placed order Msg */

.msg-container {
    width: 100%;
    height: 80vh;
    /* background: var(--light-maroon); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    /* z-index: 9; */
}

.msg-popup {
    box-shadow: var(--box-shadow);
    width: 550px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    /* visibility: hidden; */

}

.msg-popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

}

.msg-popup h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.msg-popup button {
    color: #fff;
    background: var(--light-maroon);
    margin-top: 15px;
    margin-left: 10px;
    /* box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2); */
    letter-spacing: 3px;
    transition: all 0.3s ease;
}

.msg-popup button:hover {
    background-color: var(--Tangerine);
    background: linear-gradient(135deg, var(--light-maroon) 50%, var(--maroon) 50%);
}

.msg-popup p {
    font-size: 25px;
    font-weight: 500;
}

/* return product */
#Form-details strong {
    padding-bottom: 15px;
}

#Form-details h2 span {
    color: var(--light-maroon);
    font-size: 30px;

}

#Form-details p {
    text-align: justify;
    padding-bottom: 30px;
    font-size: 18px;
}

#Form-details .Address-return {
    margin-top: 25px;
}

.terms-container {

    /* font-family: 'Open Sans', sans-serif; */
    color: #262626;
}

.terms-title h1 {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--light-maroon);
}

/* .terms-body h4 {
    color: #EB573D;
    font-size: 14px;
    line-height: 25px;
  } */

.terms-body div h3 {
    color: #262626;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
}

.terms-body div p {
    font-size: 18px;
    line-height: 25px
}

.terms-body div hr {
    margin-top: 30px;
}

.terms-body a {
    color: var(--Tangerine);
    font-size: 20px;
    font-weight: 600;
}

.terms-body a:hover {
    color: var(--Tangerine);
    text-decoration: none;
    font-weight: 500;
}

.terms_footer h3 {
    margin-top: 60px;
    margin-bottom: 125px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.5;
    color: #262626;
}

.terms_footer h3 a:link {
    color: var(--Tangerine);
    font-size: 30px;
    text-decoration: none;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -650%);
    background: var(--light-maroon);
    width: 500px;
    height: 40px;
    padding: 0.2rem 0.6rem 0.2rem 0.2rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 0 0 var(--light-maroon),
        2px 2px 0 0 var(--light-maroon),
        3px 3px 0 0 var(--light-maroon),
        4px 4px 0 0 var(--light-maroon),
        5px 5px 0 0 var(--light-maroon),
        6px 6px 0 0 var(--light-maroon);
}

.search-bar input {
    border: 0;
    outline: none;
    height: 100%;
    width: 85%;
    padding: 0 1rem;
    font-size: 1rem;
    font-style: italic;
}

.search-bar button {
    margin-left: auto;
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    outline: none;
}

/* Alert Msg */

.Empty-Crt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Empty-Crt a {
    margin-top: 10px;
    letter-spacing: 2px;
    color: #fff;
    background: var(--light-maroon);
}

.Empty-Crt h1 span {
    color: var(--Tangerine);
    font-size: 40px;
}





























































































































/* Media Screen  */
@media (max-width:820px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 15px;
        transition: 0.3s;


    }

    #nav.active {
        right: 0px;

    }


    #nav a {
        margin-bottom: 25px;
    }

    .User-login-register i {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .mobile .mob-click {
        color: #1a1a1a;
    }

    .mobile .mob-click:hover {
        color: var(--maroon);
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 16px;
        color: #222;
        font-size: 25px;
    }

    header .search-bar {
        position: absolute;
        top: 6.5rem;
        right: 1rem;
        width: 30rem;
        height: 3.5rem;
    }

    header div a span {
        display: none;
    }

    #hero {

        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 4rem;
    }

    #hero p {
        display: none;
    }

    #hero button {
        margin: 0px -18px;
        padding: 0px 60px 10px 60px;
        line-height: 50px;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product-sec .pro-container {
        justify-content: space-evenly;
    }

    #product-sec .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    .countdown-container {
        /* display: none; */
        position: relative;
        bottom: 25px;
    }

    #banner h4 {
        display: none;
    }

    #banner h2 {
        font-size: 18px;
        /* width: -15px; */
    }

    .upcommin-prodcut h1 {
        font-size: 10px;
    }

    #product-sec h1 {
        font-size: 40px;
    }

    /* .container {
        height: 80vh;
        width: 100%;
    } */
    .testimonial {
        width: 90%;
        position: relative;
        bottom: 60px;
    }

    .mobile-padding {
        font-size: 30px;
    }

    #newsletter .form {
        width: 70%;
    }

    #newsletter p {
        padding-bottom: 10px;
    }

    /* Contact Page */
    #Form-details {

        padding: 40px;

    }

    #Form-details form {
        width: 50%;

    }

    /* Payyment and Billing  */
    #Payment-Gatway-Address form .button2 {
        width: 81%;
    }

    #Payment-Gatway-Address form .button1 {

        width: 124px;
    }

    #Payment-Gatway-Address {
        min-height: 50vh;

    }

    /* Track Order */
    .step-wizard {
        height: 20vh;
    }
}