 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins';
 }

 :root {
   --black: black;
   --maroon: maroon;
   --light-maroon: #AE0000;
   --Tangerine: #f38b00;
   --light-color: #666;
   --box-shadow: 0 .3rem 0.5rem rgba(0, 0, 0.1);
   --border: 2rem solid rgba(0, 0, 0.1);
   --outline: .1rem solid rgba(0, 0, 0.1);
   --padding: 40px 80px;
   --margin: 40px 0;

 }
 

 body {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: #AE0000; */
   /* background: linear-gradient(90deg, #FF0B0B 50%, var(--light-maroon) 50%); */
   background-image: linear-gradient(120deg, var(--maroon) 0%, var(--light-maroon) 100%);
   /* background-color: var(--Tangerine); */
  }
  
  body:hover{
    background-image: linear-gradient(120deg, var(--light-maroon) 0%, var(#DC0000) 100%);
   /* background: linear-gradient(90deg, var(--light-maroon) 50%, #F8F8FF 50%); */

 }

 .Arrow-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;

}

.Arrow-btn a {
  height: 45px;
  width: 45px;
  text-align: center;
  background: var(--Tangerine);
  display: block;
  border-radius: 3px;
  cursor: pointer;
}
.Arrow-btn a span {
  color: #fff;
  line-height: 45px;
  font-size: 33px;
}




 
 .container {
   position: relative;
   max-width: 430px;
   width: 100%;
   background: #fff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
 }

 .container .forms {
   padding: 35px;
 }

 .container .forms .title {
   position: relative;
   font-size: 27px;
   font-weight: 600;
 }

 .forms .title span::before {
   content: "";
   position: absolute;
   left: 2px;
   bottom: 2px;
   height: 3px;
   width: 30%;
   background-color: var(--Tangerine);
   border-radius: 25px;
 }

 .container .forms .title span {
   color: var(--Tangerine);
   font-size: 35px;
 }

 .forms .input-field {
   margin-top: 25px;
   position: relative;

   height: 50px;
   width: 100%;
 }

 .input-field input {
   height: 100%;
   width: 100%;
   position: absolute;
   padding: 0 35px;
   border: none;
   outline: none;
   border-bottom: 2px solid #ccc;
   border-top: 2px solid transparent;
   font-size: 18px;
   font-weight: 500;
   transition: all 0.2s ease;

 }
 .input-field input:is(:focus){
  border-bottom-color:var(--maroon);
 }

 .input-field i {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color: var(--black);
   font-size: 23px;
 }
 .input-field input:is(:focus) ~ i{
  color:var(--maroon);
 }


 .input-field i.icon {
   left: 0;

 }

 .input-field i.showHidePw {
   right: 3px;
   cursor: pointer;
   padding: 10px;
 }

 .forms .ckeckbox-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
 }

 .ckeckbox-text .checkbox-content{
  display: flex;
  align-items: center;
 }

 .checkbox-content input{
  accent-color: var(--light-maroon);
  margin: 0 8px -2px 4px;
 }
 
 .forms .text{
    color: #333;
    font-size: 15px;
 }
 .forms a.text{
  color: #4070f4;
  text-decoration: none;
 }
 
 .forms a:hover{
  text-decoration: underline;
 }

 .forms .button{
  margin-top: 35px;

 }
  
 
 .forms .button button {
  border: none;
  height: 50px;
  width: 100%;
  background-color: var(--light-maroon);
  /* background: linear-gradient(120deg, var(--maroon) 50%, var(--light-maroon) 50%); */
  color: #fff;
  letter-spacing: 2px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

 .button button:hover{
  background-color: var(--Tangerine);
  /* background: linear-gradient(135deg, var(--light-maroon) 50%, var(--maroon) 50%); */
 }

 .forms .login-signup{
  margin-top: 30px;
  text-align: center;
 }